block content
	h1 Location Admin
	form(method='post', action='/loc/new/')
		h2 Name of Location
		input(name='locName')
		h2 Latitude
		input(name='locLat')
		h2 Longitude
		input(name='locLong')
		button(type='submit',class='btn btn-primary') Submit